$max-width: 1020px;
$color-dark: #282c34;
$color-light: white;
$color-average: #c4cbd3;

.board {
  width: 300px;
  margin: 20px;
  border: 1px solid $color-dark;
  background: $color-light;

  @mixin board-header {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: $color-dark;
  }

  &__name {
    @include board-header;
  }
  &__count {
    @include board-header;
    border-bottom: 1px solid $color-dark;
  }
  &__list {
    padding: 10px;

    &-item {
      border: 2px double $color-dark;
      margin: 1px;
      padding: 20px;
      cursor: pointer;
    }

    &-item:nth-child(odd) {
      background: $color-average;
    }
  }
}
