$max-width: 1020px;
$color-dark: #282c34;
$color-light: white;
$color-average: #c4cbd3;

.App {
  text-align: center;
  margin: auto;
  cursor: default;
  background: $color-average;

  &__header,
  &__footer {
    display: flex;
    min-height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: $color-dark;
    color: $color-light;
  }

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    max-width: $max-width;
    margin: auto;
  }

  .sidebar {
    padding: 20px;
  }

  .content {
    width: 0.8 * $max-width;
    display: flex;
    flex-direction: column;

    .project-name {
      padding: 25px 0 0 0;
      font-size: 30px;
      font-weight: 800;
    }

    .boards {
      display: flex;
      justify-content: space-around;
      padding: 20px;
    }
  }
}
